<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.36.2" />
  <package id="Grpc.Core" version="2.46.6" />
  <package id="Grpc.Core.Api" version="2.84.0" />
  <package id="Grpc.Net.Client" version="2.84.0" manuallyInstalled="true" />
  <package id="Grpc.Net.Common" version="2.84.0" />
  <package id="com.noahjutz.hellogrpcunitycontract" version="1.0.0-dev03" manuallyInstalled="true" />
</packages>